extends base

block content
    .container.mx-auto.py-8
        h1.text-2xl.font-bold.mb-6.text-center Create Account
        form#sign-in.w-full.max-w-sm.mx-auto.bg-white.p-8.rounded-md.shadow-md
            .mb-4
                label.block.text-gray-700.text-sm.font-bold.mb-2(for='name') Name
                input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md(class='focus:outline-none focus:border-indigo-500', type='text', name='name', placeholder='John Doe')
            .mb-4
                label.block.text-gray-700.text-sm.font-bold.mb-2(for='email') Email
                input#email-sign.w-full.px-3.py-2.border.border-gray-300.rounded-md(class='focus:outline-none focus:border-indigo-500', type='email', name='email', placeholder='john@example.com')
            .mb-4
                label.block.text-gray-700.text-sm.font-bold.mb-2(for='password') Password
                input#password-sign.w-full.px-3.py-2.border.border-gray-300.rounded-md(class='focus:outline-none focus:border-indigo-500', type='password', name='password', placeholder='********')
            .mb-4
                label.block.text-gray-700.text-sm.font-bold.mb-2(for='confirm-password') Confirm Password
                input#confirm-password.w-full.px-3.py-2.border.border-gray-300.rounded-md(class='focus:outline-none focus:border-indigo-500', type='password', name='confirm-password', placeholder='********')
            button.w-full.bg-indigo-900.text-white.text-sm.font-bold.py-2.px-4.rounded-md.transition.duration-300(class='hover:bg-indigo-600', type='submit') Register
            div.flex.gap-3.pt-5 
                | Have account already?
                a.underline(href="/login") log in here 